@use "colors" as *;
@use "sass:color";

// --------Importing styles----------------

.btn {
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  &.btn-primary {
    @include background("blue");

    &:hover {
      background-color: color.scale($black, $lightness: -23.3944954128%) color.adjust($black, $lightness: -10%);
    }
  }

  &.btn-secondary {
    @include background("black");

    &:hover {
      background-color: color.scale($black, $lightness: -23.3944954128%) color.adjust($black, $lightness: -10%);
    }
  }

  &.btn-play {
    @include background("blue");
    border-radius: 20px;
    padding: 12px 20px;

    &:hover {
      background-color: color.scale($black, $lightness: -23.3944954128%) color.adjust($black, $lightness: -10%);
      transform: scale(1.08);
      transition: all 0.3s ease-in-out;
    }
  }
}
