$black: #191919;
$white: #ffffff;
$cyan: #338cf4;
$blue: #0064da;
$light-gray: #fbfbfb;

@mixin background($colors) {
  @if $colors == "black" {
    background-color: $black;
    color: $white;
  }
  @if $colors == "blue" {
    background-color: $blue;
    color: $white;
  }
  @if $colors == "white" {
    background-color: $white;
    color: $blue;
  }
}

.bg {
  &-gray {
    background: $light-gray;
  }
}
