@use "colors" as *;

// --------Importing styles----------------

footer {
  border-top: solid 1px #f3f1f1;

  .footer-content {
    font-size: 12px;
    display: flex;
    gap: 24px;
    justify-content: center;

    h2 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    a {
      cursor: pointer;
      color: $black;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      &.footer-col {
        width: calc(100% / 4);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  footer {
    .footer-content {
      background-color: #e7e7e7;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
