@use "colors" as *;

// --------Importing styles----------------

main {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 60px auto 0 auto;
  padding: 40px 32px;
  max-width: 1200px;

  :has(> button + button) {
    display: flex;
    gap: 20px;
    margin-bottom: 32px;
  }

  img,
  video {
    width: 100%;
    display: block;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;

    &_title {
      margin-bottom: 32px;
      font-size: 80px;
      font-weight: 700;
      line-height: 1.2;
    }

    &_subtitle {
      font-size: 16px;
    }

    .btn {
      &.btn-play {
        position: relative;
        top: -20px;
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    padding: 40px 32px;

    &_title {
      margin-bottom: 32px;
      font-size: 40px;
      font-weight: 400;
      line-height: 1.2;
    }

    &_content {
      max-width: 75ch;
      margin: 0 auto;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 400;
    }

    &.section--highlight {
      position: relative;
      z-index: 1;
      background: none;

      img {
        max-width: 500px;
        margin: 0 auto;
        display: block;
      }

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 100vw;
        height: 80%;
        background: $light-gray;
        transform: translateX(-50%);
        z-index: -1;
      }

      // Linha vertical decorativa no topo, centralizada
      .section__line-marker {
        &::after {
          content: "";
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: 80px;
          background: #e5e5e5;
          border-radius: 2px;
          z-index: 2;
        }
      }
    }

    &.bg-animation-slot {
      .gallery-wrapper {
        position: relative; /* O position: relative é necessário para que o absolute do vídeo funcione com base nessa div.scss Copiar Editar */

        .bg-animation-slot__video {
          position: absolute; /*Faz com que o vídeo "flutue" sobre o .gallery-wrapper, podendo ser posicionado manualmente.*/
          top: 0;
          left: 50%;
          width: 100vw;
          height: 60%;
          object-fit: cover;
          z-index: 0;
          align-self: anchor-center;
          pointer-events: none;
          transform: translateX(-50%);
        }

        .swiper {
          width: 240px;
          height: 320px;

          .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
          }
        }

        .gallery {
          position: relative;
          z-index: 1;
        }
      }
    }
  }

  .articles-slot {
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    text-align: -webkit-center;
    width: 100%;

    .articles-slot__filters {
      margin: 24px 16px;

      & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
    }

    .articles-slot__content {
      max-width: 100%;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;

      & ul {
        display: flex;
      }

      .swiper {
        width: 80%;
        height: 80%;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          display: flex;
          justify-content: center;
          align-items: center;

          .card.card-info {
            margin-bottom: 40px;
            width: 280px;
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

// footer

@media only screen and (max-width: 600px) {
  main {
    margin: auto;
    padding: 24px 16px;

    .btn {
      font-size: 14px;
      font-weight: 600;
    }

    :has(> button + button) {
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 16px;
      margin-bottom: 32px;
    }

    .hero {
      &_title {
        margin-bottom: 16px;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.1;
      }

      &_subtitle {
        font-size: 16px;
      }
    }

    .section {
      padding: 24px 16px;
      &_title {
        margin-bottom: 16px;
        font-size: 32px;
        font-weight: 300;
        line-height: 1.1;
      }

      &_content {
        font-size: 16px;
      }

      &.section--highlight {
        .section__line-marker {
          &::after {
            top: -25px;
            height: 50px;
          }
        }
      }
    }

    .articles-slot > .articles-slot__content > .swiper {
      width: 100%;

      .swiper-button-next,
      .swiper-button-prev {
        display: none;
      }
    }

    .articles-slot {
      .articles-slot__filters {
        margin: 16px;

        ul {
          gap: 0px;
        }

        .tag.tag-filter {
          font-size: 14px;
          cursor: pointer;
          padding: 16px 24px;
          border-radius: 24px;
        }
      }
    }
  }
}
