@use "colors" as *;

// --------Importing styles----------------

.navbar {
  padding: 16px 24px;
  display: grid;
  height: auto;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 50px;
  gap: 48px;
  border-bottom: solid 1px #f3f1f1;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 1000;
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
  }

  .navbar__logo {
    width: 100px;
  }

  .navbar__actions {
    display: flex;
    gap: 20px;

    .btn {
      &.btn-primary {
        border: none;
        background-color: transparent;
        color: $black;
      }
    }
  }

  .menu-hamburguer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;

    .menu-hamburguer {
      display: flex;
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
      position: relative;
      z-index: 10;

      // Linha central
      &::before,
      &::after,
      span {
        content: "";
        display: block;
        height: 3px;
        width: 28px;
        background: #191919; // ou a cor desejada
        border-radius: 2px;
        position: absolute;
        left: 6px;
        transition: 0.3s;
      }

      // Linha superior
      &::before {
        top: 12px;
      }
      // Linha central
      span {
        top: 18px;
        transition: 0.4s;
      }
      // Linha inferior
      &::after {
        top: 24px;
      }
    }

    .menu-hamburguer.is-active {
      &::before {
        top: 18px;
        transform: rotate(45deg);
      }
      span {
        opacity: 0;
      }
      &::after {
        top: 18px;
        transform: rotate(-45deg);
      }
    }

    .navbar__actions {
      display: none;
    }

    ul.menu-list {
      display: none;

      .btn {
        width: 100%;
      }

      &.is-open {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
        padding: 20px 20px;
        background: white;
      }
    }
  }
}
