@use "sass:math";
:root {
  --bg: #f7f7f7;
  --black: black;
  --black-3: rgba(0, 0, 0, 0.5);
  --border-gray: silver;
  --black-2: rgba(0, 0, 0, 0.8);
  --alt-bg: #ededed;
  --off-white: #f1f1f1;
  --accent: #ea5d31;
  --alt-bg-2: #f0f0f0;
  --ultra-light-text: #777;
  --borders-dark-bg: rgba(255, 255, 255, 0.05);
  --figma-purple: #8d4cf6;
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

button {
  cursor: pointer;
}

main {
  width: 940px;
  margin: 0 auto;
}

.navbar {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  font-weight: 300;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

.navbar .btn {
  font-size: 14px;
  padding: 8px 16px;
}

.navbar .navbar__logo {
  width: 150px;
}

.navbar .navbar__actions {
  display: flex;
  gap: 20px;
}

.hero {
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  margin: 40px 0;
  padding: 24px 0;
}

.hero span {
  font-size: 16px;
  font-weight: 400;
}

.footer {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 2rem 1rem;
}

.footer .footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  border-bottom: solid 1px var(--border-gray);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer .footer_content h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer .footer_content li {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 12px;
}

.footer .footer_content li a {
  color: var(--ultra-light-text);
  font-weight: 400;
}

.footer .footer_content li:last-child {
  margin-bottom: 20px;
}

.footer .footer_botton {
  grid-row: 2 / 3;
  align-self: center;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--ultra-light-text);
}

.footer .footer_botton .social-media {
  display: flex;
  gap: 16px;
}

.footer .footer_botton .social-media a {
  color: var(--ultra-light-text);
}

.btn {
  background-color: transparent;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
}

.btn.btn-secondary {
  color: var(--off-white);
  background-color: var(--black);
}

.tag-alert {
  color: var(--off-white);
  background-color: var(--accent);
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 12px !important;
  font-weight: 500;
  margin: 8px;
}

.card-image {
  background-color: #e6e6e6;
  padding: 40px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
  justify-content: center;
  justify-items: center;
  position: sticky;
  top: 20px;
}

.card-image .card-image__left {
  display: grid;
  text-align: left;
  justify-content: left;
  margin-right: 40px;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.card-image .card-image__left .card-image__leftTitle {
  font-size: 32px;
  font-weight: 700;
  margin: 32px 0;
}

.card-image .card-image__left .card-image__leftSubtitle {
  font-size: 16px;
  font-weight: 300;
  color: var(--ultra-light-text);
  margin-bottom: 16px;
}

.card-image .card-image__left .card-image__leftExtra {
  font-size: 16px;
  font-weight: 300;
  color: var(--ultra-light-text);
}

.card-image .card-image__left .card-image__leftExtra :where(li) {
  border-bottom: solid 1px var(--border-gray);
  padding: 8px 0;
}

.card-image .card-image__left .card-image__leftExtra :where(li):last-child {
  border-bottom: none;
}

.card-image .card-image__right {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-image .card-image__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
